.leaflet-control-layertree-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  }

/* layertree control */

.leaflet-control-layertree {
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  background: #fff;
  border-radius: 5px;
  }
.leaflet-control-layertree-toggle {
  background-image: url(leaflet-0.7.5/images/layers.png);
  width: 36px;
  height: 36px;
  }
.leaflet-retina .leaflet-control-layertree-toggle {
  background-image: url(leaflet-0.7.5/images/layers-2x.png);
  background-size: 26px 26px;
  }
.leaflet-touch .leaflet-control-layertree-toggle {
  width: 44px;
  height: 44px;
  }
.leaflet-control-layertree .leaflet-control-layertree-list,
.leaflet-control-layertree-expanded .leaflet-control-layertree-toggle {
  display: none;
  }
.leaflet-control-layertree-expanded .leaflet-control-layertree-list {
  display: block;
  position: relative;
  }
.leaflet-control-layertree-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
  }
.leaflet-control-layertree-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
  }
.leaflet-control-layertree label {
  display: block;
  }

.leaflet-touch .leaflet-control-layertree {
  box-shadow: none;
  }
.leaflet-touch .leaflet-control-layertree {
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
  }

.leaflet-oldie .leaflet-control-layertree {
  border: 1px solid #999;
  }

.leaflet-control-layertree-tree ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.leaflet-control-layertree-tree ol ol {
  padding-left: 18px;
}

.leaflet-control-layertree-tree > ol > li > label {
  font-weight: bold;
}

/* To fit large tables into L.popups */
.leaflet-popup-content {
  overflow: scroll;
}

.leaflet-control-layertree-closearrow {
  display: none;
}
.leaflet-control-layertree-expanded .leaflet-control-layertree-closearrow {
  display: block;
  background-image:url(Leaflet-MiniMap/dist/images/toggle.svg);
  background-size:cover;
  position:absolute;
  border-radius:3px 0 0;
  top: 2px;
  right: 2px;
  width: 19px;
  height: 19px;
  -webkit-transform:rotate(270deg);
  transform:rotate(270deg);
  cursor: pointer;
}
